<div class="main">
  <div class="container">
    <div class="content-width">
      <div class="form-frame">
        <div class="form-area">
          <p class="form-title">Potepan Shareで未体験の旅をしよう。</p>
          <p class="area">エリア</p>
          <div class="search-form">
            <%= search_form_for @search, url: rooms_search_path do |f| %>
              <%= f.search_field :address_cont, class: "form-control", placeholder: "東京" %>
              <%= f.submit "探す", class: 'btn btn-no3' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="recommend-frame">
      <p class="recommend-title">おすすめの体験エリア</p>
      <div class="recommend-grid">
        <div class="recommend-content">
          <div class="recommend-image">
            <a href="https://ec504434fc0c4ea6bb2363d07891dcb6.vfs.cloud9.ap-northeast-1.amazonaws.com/rooms/search?q%5Baddress_cont%5D=%E6%9D%B1%E4%BA%AC&commit=%E6%8E%A2%E3%81%99">
              <img class="recommend-icon" src="/recommend_icons/Tokyo.jpeg" alt="東京">
            </a>
          </div>
          <div class="recommend-info">
            <b>東京</b>
            <p>車で30分</p>
          </div>
        </div>
        <div class="recommend-content">
          <div class="recommend-image">
            <a href="https://ec504434fc0c4ea6bb2363d07891dcb6.vfs.cloud9.ap-northeast-1.amazonaws.com/rooms/search?q%5Baddress_cont%5D=%E7%A5%9E%E5%A5%88%E5%B7%9D&commit=%E6%8E%A2%E3%81%99">
              <img class="recommend-icon" src="/recommend_icons/Kanagawa.jpeg" alt="神奈川">
            </a>
          </div>
          <div class="recommend-info">
            <b>神奈川</b>
            <p>車で40分</p>
          </div>
        </div>
        <div class="recommend-content">
          <div class="recommend-image">
            <a href="https://ec504434fc0c4ea6bb2363d07891dcb6.vfs.cloud9.ap-northeast-1.amazonaws.com/rooms/search?q%5Baddress_cont%5D=%E9%95%B7%E9%87%8E&commit=%E6%8E%A2%E3%81%99">
              <img class="recommend-icon" src="/recommend_icons/Nagano.jpeg" alt="長野">
            </a>
          </div>
          <div class="recommend-info">
            <b>長野</b>
            <p>車で2時間</p>
          </div>
        </div>
        <div class="recommend-content">
          <div class="recommend-image">
            <a href="https://ec504434fc0c4ea6bb2363d07891dcb6.vfs.cloud9.ap-northeast-1.amazonaws.com/rooms/search?q%5Baddress_cont%5D=%E4%BA%AC%E9%83%BD%E5%BA%9C&commit=%E6%8E%A2%E3%81%99">
              <img class="recommend-icon" src="/recommend_icons/Kyoto.jpeg" alt="京都">
            </a>
          </div>
          <div class="recommend-info">
            <b>京都</b>
            <p>車で6時間30分</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
